.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
  display: grid;
}

.header{
  border: none;
}

.todoListMain {
  text-align: center;
  display: grid;
  justify-content: center;
  width: 100%;
  padding-bottom: 10rem;
  padding-top: 1rem;
  background-image: linear-gradient(white, black);
}

::placeholder{
  color: white;
}

.todoListMain .header input {
  padding: 1rem;
  background-color: black;
  font-size: 16px;
  width: 165px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 1rem;
}
.todoListMain .header button {
  padding: 8px 20px;
  font-size: 20px;
  background-color: #ffffff;
  color: #80BF22;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 5px;
  transition: all, 0.4s;
}
.todoListMain .header button:hover {
  background-color: lightgreen;
  border: 2px solid black;
  cursor: pointer;
}
.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
  padding-bottom: 3px;
} 

ul.theList {
  margin: 0 auto;
}

.todoListMain .theList li {
  color: #1e1e1e;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  transition: background-color .2s ease-out;
}
 
.todoListMain .theList li:hover {
  background-color: #ffffff92;
  cursor: pointer;
  border: 2px solid #fcfdfb;
}

.clock{
  padding-top: 10rem;
  font-size: larger;
  display: flex;
  justify-content: center;
  color: white;
}